.quem-sou {
  /*
  width: 450px; 
  */
  display: block;
  flex-wrap: wrap;
  height: 980px;
  background: #00464bd2;
  text-align: center;
  line-height: 2;
}

.lado-esquerdo h3,
h4 {
  color: #fff;
}
.foto-perfil {
  margin-top: 10px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 1px 2px 4px 3px rgb(61, 60, 60);
}
.lado-esquerdo {
  display: block;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-size: 16px;
}
.lado-esquerdo h1 {
  font-size: 24px;
  font-family: monospace;
}
.contato-lado-esquerdo {
  margin-top: 90px;
}
.contato-titulo {
  font-family: Verdana, monospace, Tahoma, sans-serif;
  font-size: 24px;
}
.skill-item {
  text-align: center;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}

.contato-git,
.contato-email {
  display: flex;
}
.contato-email p {
  margin-top: 15px;
  margin-left: 12px;
}
.contato-git p,
a {
  margin-top: 15px;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  padding: 10px 3px;
}
